<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/cssboot.css" />
    <link rel="stylesheet" href="../tester/chatboxcss.css" />
    <link rel="stylesheet" href="../tester/isichat.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
    <link rel="shortcut icon" href="../img/logo1.png" />
  </head>
  <body>
    <div class="a">
      <img class="e" src="../img/logo1.png" alt="" />

      <div class="bekgron1">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bg3"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators" style="margin-bottom: 95px ">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container" style="padding: 0 100px 0 100px">
                <h1 class="judul">PROJECT</h1>
                <div class="row" style="padding-top: 30vh">
                  <div class="col-4">
                    <div class="card" style="background-color: rgb(250, 103, 218)">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <img src="../img/colex.png" style="width: 120px; height: 100px; padding: 0%; margin: auto" />
                      </button>
                      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                          <!-- <h5 id="offcanvasRightLabel">PROJECT MASUK DONG HEHE :</h5> -->
                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <h1 style="text-align:center;">Company Profile</h1><br>
                        <img src="../img/pcolex1.png" style="padding: 0 10% 0 10% ; width: 100%; height: 65%;" alt="">
                        <div class="offcanvas-body">
                          <div class="btn-area">
                            <h5 style="text-align:center; ">Do you have project for me? <br>
                            Please <a style="text-decoration: none ;" target="_blank" href="https://wa.me/6281995165939"><b><i>Contact me</i></b></a></h5>
                          </div>
                        </div>
                      </div>
                    </ul>
                      <p class="card-text" style="margin: auto">Company Profile</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="background-color: #0a0909">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <img src="" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      </button>
                      <p class="card-text" style="margin: auto; color: #e0dee0">Project 2</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="background-color: rgb(250, 103, 218)">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <img src="" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      </button>
                      <p class="card-text" style="margin: auto">Project 3</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: #0a0909">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <img src="" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      </button>
                      <p class="card-text" style="margin: auto; color: #e0dee0">Project 4</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: rgb(250, 103, 218)">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <img src="" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      </button>
                      <p class="card-text" style="margin: auto">Project 5</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: #0a0909">
                      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <img
                        src=""
                        style="width: 73px; height: 100px; padding: 0%; margin: auto"/>
                        </button>
                      <p class="card-text" style="margin: auto; color: #e0dee0">Project 6</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container" style="padding: 0 100px 0 100px">
                <h1 class="judul1">PROJECT</h1>
                <div class="row" style="padding-top: 32.1vh">
                  <div class="col-4">
                    <div class="card" style="background-color: rgb(250, 103, 218)">
                      <img src="https://img.icons8.com/color/480/000000/flutter.png" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto">Flutter</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="background-color: #0a0909">
                      <img src="https://img.icons8.com/color/480/000000/vue-js.png" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto; color: #e0dee0">Vue.js</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="background-color: rgb(250, 103, 218)">
                      <img src="https://img.icons8.com/fluency/480/000000/tailwind_css.png" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto">Tailwind CSS</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: #0a0909">
                      <img src="../img/jest.svg" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto; color: #e0dee0">Jest</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: rgb(250, 103, 218)">
                      <img src="https://img.icons8.com/color/480/000000/apollo.png" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto">Apollo</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card" style="margin-top: 25px; background-color: #0a0909">
                      <img src="../img/hugo.svg" style="width: 73px; height: 100px; padding: 0%; margin: auto" />
                      <p class="card-text" style="margin: auto; color: #e0dee0">Hugo</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sosmed">
          <ul>
            <a href="https://www.linkedin.com/in/yogadwinugraha/" target="_blank"> <img class="im1" src="../img/linkedin.gif"  width="30"/> </a>
            <a href="https://twitter.com/goyeh90" target="_blank"> <img class="im2" src="../img/twitter.gif"  width="30"/></a>
          </ul>
        </div>
        <img class="open-button" onclick="openForm()" src="../img/chatt.gif" width="10px" alt="">
    <div class="chat-popup" id="myForm">
      <div  class="form-container">
        <!-- <h1>Chat</h1>

        <label for="msg"><b>Message</b></label> -->
        <!-- <textarea placeholder="Type message.." name="msg" required></textarea> -->
        <main class="page__main">
          <div class="block--background">
            <div class="chatbot__overview">
              <ul class="chatlist">
                <li class="bot__output bot__output--standard">Hey, I'm Yoga!</li>
                <li class="bot__output bot__output--standard">I will guide you through Yoga' portfolio!</li>
                <li class="bot__output bot__output--standard">
                  <span class="bot__output--second-sentence">You can ask me a bunch of things!</span>
                  <ul>
                    <li class="input__nested-list">Something <span class="bot__command">project</span> for me</li>
                    <li class="input__nested-list">Yoga' <span class="bot__command">contact</span></li>
                    <li class="input__nested-list">Maybe I could <span class="bot__command">help</span> (for more instructions)</li>
                    <li class="input__nested-list">Type <span class="bot__command">commands</span> for a list of every command</li>
                  </ul>
                  You could also scroll down to see Yoga' full portfolio
                </li>
              </ul>
            </div>
            <div class="chatbox-area">
              <form action="" id="chatform">
                  <textarea placeholder="Talk to me!" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
                  <input class="submit-button" type="submit" value="send">
              </form>
            </div>
                <div class="block--background"></div>
      
      </main>

        <!-- <button type="submit" class="btn">Send</button> -->
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
    </div>
      <div class="g" style="color:#e0dee0; position:absolute; bottom: 2%; right: 8%;">
        <h3 style="font-size: 1.17em ;"><i><b>GOYEHID</b></i></h3>
      </div>
        <ul style="list-style-type: none; position: absolute; right: 9%; top: 29vh">
          <li><a href="../index.html" style="writing-mode: vertical-rl; text-decoration: none; margin-top: 10px; color: #e0dee0">Home</a></li>
          <li><a href="about.html" style="writing-mode: vertical-rl; text-decoration: none; margin-top: 10px; color: #e0dee0">About</a></li>
          <li><a href="project.html" style="writing-mode: vertical-rl; text-decoration: none; margin-top: 10px; color: #e0dee0">Project</a></li>
          <li><a href="#" onclick="openForm()" style="writing-mode: vertical-rl; text-decoration: none; margin-top: 10px; color: #e0dee0">Contact</a></li>
        </ul>
        
      </div>
    </div>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../tester/isichat.js"></script>
    <script>
      function openForm() {
        document.getElementById('myForm').style.display = 'block';
      }

      function closeForm() {
        document.getElementById('myForm').style.display = 'none';
      }
    </script>
  </body>
</html>
